.basket-link {
  text-decoration: none;
  position: relative;
  top: 18.5px;
  padding: 2px;
  color: black;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(219, 219, 219);
  height: 37px;
}

.basket-link:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.1);
}

.basket{
  width:36px
}