.header {
  border: 2px solid azure;
  background-color: azure;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -20px;
  border: 2px solid black;
  border-radius: 12px;
}
